.login {
    width: 100%;
    height: 100vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010912;
    position: relative;
    overflow: hidden;
}

.login__bg--Uno {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.login__bg--Uno::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bdcbf2d8;
    filter: blur(60px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-filter: blur(60px);
}

.login__bg--Dos {
    position: absolute;
    top: -10%;
    right: -10%;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.login__bg--Dos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bdcbf299;
    filter: blur(80px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-filter: blur(80px);
}

.login__bg--Tres {
    position: absolute;
    top: 0;
    left: 12%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.login__bg--Tres::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #efedab23;
    filter: blur(10px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-filter: blur(10px);
}

.login__logo {
    width: 700px;
    height: 70vh;
    margin-right: 60px;
    text-align: center;
    z-index: 1;
}

.login__logo img {
    width: 100%;
}

.login__logo p {
    color: aliceblue;
    font-size: 22px;
    margin-top: -30px;
}

.login__logo button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
}

.login__logo button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.login__container {
    width: 400px;
    background-color: #121316;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    z-index: 1;

}

.login__container__title {
    text-align: center;
}


.login__container__title img {
    width: 20%;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.login__container__title h1 {
    color: aliceblue;
    text-align: center;
    font-size: 22px;

}

.login__container__title p {
    margin-top: 2%;
    color: aliceblue;
    text-align: center;
    font-size: 15px;

}

.login__container__input {
    margin-top: 10%;
    position: relative;
}


.login__container__group {
    position: relative;
    margin-bottom: 45px;
}

.login__container__group input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: #121316;
    width: 100%;
    color: aliceblue;
}

.login__container__group input:focus {
    outline: none;
}

/* LABEL ======================================= */
.login__container__group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.login__container__group input:focus~label,
.login__container__group input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #f4f4f4;
}

.login__container__group .bar {
    position: relative;
    display: block;
    width: 100%;
}

.login__container__group .bar:before,
.login__container__group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.login__container__group .bar:before {
    left: 50%;
}

.login__container__group .bar:after {
    right: 50%;
}

/* active state */
.login__container__group input:focus~.bar:before,
.login__container__group input:focus~.bar:after {
    width: 50%;
}

.login__container__group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.login__container__group input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.olvido-contrseña {
    background-color: #121316;
    border: none;
    color: #AAEDFD;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.login__container button {
    width: 100%;
    height: 40px;
    margin-top: 8%;
    margin-bottom: 5%;
    cursor: pointer;
    font-size: 18px;
}

.login__container .Crear-cuenta {
    text-decoration: none;
    color: aliceblue;

}

.login__container .Crear-cuenta a{
    text-decoration: none;
    color: #AAEDFD;

}

.login__container span {
    text-decoration: none;
    color: #AAEDFD;
    font-weight: 900;
    cursor: pointer;
}

.error {
    color: rgb(255, 0, 51);
}

.Registro {
    display: block;
    z-index: 1;
}

.Registro__logo {
    text-align: center;
}

.Registro__logo img {
    width: 200px;
}

.Registro__Content {
    width: 40%;
    margin: 0 30%;
    background-color: #121316;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    z-index: 1;
}

.Registro__Formulario {
    margin-top: 40px;
    margin-bottom: 20px;
}

.Registro__Formulario .Aceptar {
    color: #f4f4f4;
    margin-top: 2%;
}

.Registro__Content a{
    color: #AAEDFD;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
}


/* ========= MEDIA QUERIES (MEDIUM DEVICES) =======*/

@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {
    .login {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 10%;
        background-position-X: 20%;
        height: auto;
        display: block;
        padding: 0 5%;
    }

    .login__logo {
        width: 100%;
        height: auto;
        margin-right: 0;

    }

    .login__container {
        width: 100%;
    }
}