.BarraProgreso {
    display: flex;
    z-index: 1001;
    color: aliceblue;
    
}

.BarraProgreso .BarraProgreso-contect-imagen img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    clip-path: polygon(50% 1%, 92% 25%, 93% 76%, 50% 100%, 8% 76%, 8% 25%);
}

.BarraProgreso-contect-imagenDOS {
    text-align: center;
}

.BarraProgreso-contect-imagenDOS img {
    width: 60px !important;
    height: 60px;
    cursor: pointer;
    position: relative;
    clip-path: polygon(50% 1%, 92% 25%, 93% 76%, 50% 100%, 8% 76%, 8% 25%);
    
}

.BarraProgreso-nivel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.BarraProgreso-nivel h3 {
    color: aliceblue;
    text-align: center;
    margin-left: 10px;
}

.progress-bar {
    height: 5px;
    background-color: rgb(155, 155, 155);
    margin: 10px;
    margin-top: 20px;

}

.progress-bar-progreso {
    text-align: center;
    height: 5px;
    background-color: rgb(156, 43, 226);
}

.BarraProgreso-contect-bg {
    width: 100%;
    height: 100vh;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.448);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    z-index: 10005;
}

.BarraProgreso-contect {
    width: 600px;
    max-height: 100vh;
    background-color: #262b34;
    padding: 20px;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.BarraProgreso-contect::-webkit-scrollbar {
    width: 5px;
}

.BarraProgreso-contect::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.BarraProgreso-contect::-webkit-scrollbar-track {
    background-color: #252b3600;
}
.BarraProgreso-contect .BarraProgreso-contect-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.BarraProgreso-contect h2 {
    text-align: center;
    margin: 10px 0;
}

.BarraProgreso-contect h3 {
    text-align: center;
}

.BarraProgreso-contect-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.BarraProgreso-contect-imagen img {
    width: 50px;
    height: 50px;

}



.BarraProgreso-contect h4 {
    margin-bottom: 10px;
}

.BarraProgreso-contect span {
    font-weight: 700;
}

.BarraProgreso-contect p {
    margin-bottom: 10px;
}

.Cargado-BarraProgreso {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {}