.BarraProgreso {
    display: flex;
    border-bottom: 1px solid rgb(103, 103, 103);
    padding: 10px 0;
    z-index: 1001;
    color: aliceblue;
    
}

.BarraProgreso img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.BarraProgreso-nivel {
    width: 100%;
    display: block;
    justify-content: center;
    position: relative;
}

.BarraProgreso-nivel h3 {
    color: aliceblue;
    text-align: center;
}

.progress-bar {
    height: 5px;
    background-color: rgb(155, 155, 155);
    margin: 10px;
    margin-top: 20px;

}

.progress-bar-progreso {
    text-align: center;
    height: 5px;
    background-color: rgb(156, 43, 226);
}

.BarraProgreso-contect-bg {
    width: 100%;
    height: 100vh;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.448);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    z-index: 10005;
}

.BarraProgreso-contect {
    width: 600px;
    max-height: 80vh;
    background-color: #262b34;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.BarraProgreso-contect .BarraProgreso-contect-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.BarraProgreso-contect h2 {
    text-align: center;
    margin: 10px 0;
}

.BarraProgreso-contect h3 {
    text-align: center;
}

.BarraProgreso-contect-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.BarraProgreso-contect-imagen img {
    width: 50px;
    height: 50px;

}



.BarraProgreso-contect h4 {
    margin-bottom: 10px;
}

.BarraProgreso-contect span {
    font-weight: 700;
}

.BarraProgreso-contect p {
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {}