

.MiGrupo-navegacion {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.MiGrupo-navegacion .volver-icono {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.MiGrupo-portada {
    height: 500px;
    position: relative;
    background-color: rgba(158, 158, 158, 0.197);
    width: 130%;
    margin: 0 -10% -10% -10%;
}

.MiGrupo-info {
    position: absolute;
    bottom: 0;
    background-color: rgba(83, 83, 83, 0.334);
    width: 100%;
    height: 180px;
    padding: 20px 100px 20px 20px;
}

.MiGrupo-info h2 {
    color: aliceblue;
    font-size: 35px;
}

.MiGrupo-user {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.MiGrupo-user p {
    margin-left: 10px;
}

.MiGrupo-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: -10px;
    position: relative;
    /* Establece las imágenes como posición relativa */
}

.MiGrupo-user img:first-child {
    z-index: 6;
    /* La primera imagen estará en la parte superior */
}

.MiGrupo-user img:nth-child(2) {
    z-index: 5;
    /* La segunda imagen estará por encima de la tercera */
}

.MiGrupo-user img:nth-child(3) {
    z-index: 4;
    /* La tercera imagen estará por encima de la cuarta */
}

.MiGrupo-user img:nth-child(4) {
    z-index: 3;
    /* La cuarta imagen estará por encima de la quinta */
}

.MiGrupo-user img:nth-child(5) {
    z-index: 2;
    /* La quinta imagen estará por encima de la sexta */
}

.MiGrupo-user img:last-child {
    z-index: 1;
    /* La sexta imagen estará en la parte inferior */
}

.MiGrupo-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
}



.MiGrupo-Menu {
    width: 100%;
    background-color: #1e2229;
    margin-top: 12%;
}

.MiGrupo-Menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.MiGrupo-Menu ul a {
    padding: 20px;
    width: 33.3%;
    cursor: pointer;
    text-align: center;
    color: aliceblue;
    font-weight: 800;
    text-decoration: none;
}

.MiGrupo-Menu ul a:hover {
    color: aliceblue;
    background-color: #2c323c;
}


.MiGrupo-Menu ul a li {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}