.MiPerfil {
    width: 250px;
    box-sizing: border-box;
    position: absolute;
    right: 50px;
    top: 70px;
    background-color: #262b34;
    transition: 0.5s ease;
    box-shadow: rgba(221, 221, 221, 0.2) 0px 3px 5px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    overflow: hidden;
    border-top: #6354b1 3px solid;
    display: none;
    z-index: 10001;
}

.MiPerfil.active {
    display: block;
}

.MiPerfil_Contenido {
    padding: 10px;
}

.MiPerfil_Contenido a {
    text-decoration: none;
}

.MiPerfil_Contenido_Info {
    display: flex;
    border-bottom: solid 1px #dcdcdc53;
    justify-content: space-between;
    padding-bottom: 10px;
    cursor: pointer;
}

.MiPerfil_Contenido-cerrar {
    color: #ffffff;
    font-size: 30px;
}



.MiPerfil_Contenido_Info div {
    margin-left: 15px;
    overflow: hidden;
}

.MiPerfil_Contenido_Info div h3 {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 5px;
}

.MiPerfil_Contenido_Info div h4 {
    font-size: 0.8em;
    color: #ffffff;
    font-weight: 400;
}

.MiPerfil_Contenido_Controles {
    display: block;
}

.MiPerfil_Contenido_text {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 5%;
    padding: 10px;
}

.MiPerfil_Contenido_text:hover {
    background-color: #fffefe4d;
}

.MiPerfil_Contenido_Controles h5 {
    font-size: 0.8em;
    color: #ffffff;
    font-weight: 400;
    margin-left: 5px;
}

.MiPerfil_Contenido_Controles ion-icon {
    font-size: 1.2em !important;
    color: #ffffff;
    font-weight: 400;
    margin-left: 20px !important;
    margin-right: 0px !important;
}

.MiPerfil_Contenido_text a {
    display: flex;
    cursor: pointer;
    align-items: center;
}


/* ========= MEDIA QUERIES (MEDIUM DEVICES) =======*/

@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 700px) {

    .MiPerfil {
        width: 100%;
        right: 0;
    }
}