.AboutColonia__header {
    margin-top: 5%;
    border-bottom: 1px solid #9797974b;
}

.AboutColonia__header h3{
    margin-bottom: 2%;
}



.AboutColonia__header_info {
    display: flex;
    align-items: center;
    margin: 2.5%;
}

.AboutColonia__header_info .Icono-About {
    font-size: 25px;
    margin-right: 10px;
    color: #979797;
}

.AboutColonia__header_info span {
    font-weight: 800;
}

.AboutColonia__header_info a {
    color: #ffffff;
    margin-left: 10px;
    font-weight: 800;
    text-decoration: none;
}

.AboutColonia__reglas {
    margin-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #9797974b;
}

.AboutColonia_reglas_info {
    display: flex;
    align-items: center;
    margin-top: 3%;
    width: 100%;
}

.AboutColonia_reglas_info-num {
    width: 40px;
    height: 40px;
    color: #ffffff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutColonia_reglas_info-content {
    width: 95%;
}

.AboutColonia__soldados, .AboutColonia__Members, .AboutColonia__Reinas {
    margin-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #9797974b;
}

.AboutColonia__soldados h3, .AboutColonia__Members h3, .AboutColonia__Reinas h3 {
    margin: 10px 0;
}

.AboutColonia__soldados_info {
    width: 100%;
    display: flex;
    align-items: center;
}

.AboutColonia__soldados_info a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}

.AboutColonia__soldados_info a div h4 {
    color: #ffffff;
    font-size: 15px;
}

.AboutColonia__soldados_info a div p {
    color: #ffffff;
    font-size: 12px;
}

.AboutColonia__soldados_info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

.AboutColonia__Reinas {
    position: relative;
}

.AboutColonia_hover {
    position: absolute;
    top: 0;
    left: 300px;
}

.AboutColonia .BotonFollowers-mensaje {
    display: none;
}

@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {

    .AboutColonia__content {
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .AboutColonia__soldados_info-content {
        width: 100%;
    }

    .AboutColonia__soldados_info-img img{
        height: 60px;
    }

    .AboutColonia__soldados_info {
        display: flex;
        align-items: normal;
        margin-top: 2%;
    }

}