.TopBar {
    background: #5b5485b4;
    width: max-content;
    display: block;
    padding: 10px;
    z-index: 2;
    position: fixed;
    left: 50%;
    bottom: 5px !important;
    transform: translateX(-50%);
    bottom: 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(20px);
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    display: none;
    z-index: 10005;

}

.TopBar a {
    background: transparent;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    color: #ffffff;
    font-size: 25px;
}

.TopBar a img {
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.TopBar a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.TopBar a.active {
    background: #8379c1b4;
    color: #ffffffb4;
}

.TopBar .Header-menu-icono {
    color: #ffffff;
    font-size: 18px;
}

.TopBar-menu-icono-chat {
    position: relative;
}

.TopBar-menu-icono-chat span {
    width: 18px;
    height: 18px;
    background-color: #2ecd63;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


.notifi-a {
    position: relative;
}


.notifi-a  span {
    width: 18px;
    height: 18px;
    background-color: #1ab2e9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 20px;
}


@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {
    

    .TopBar {
        display: flex;
    
    }

}