.NotFound {
    width: 100%;
    height: 100vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010912;
    position: relative;
    overflow: hidden;
}

.login__bg--Uno {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.login__bg--Uno::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bdcbf2d8;
    filter: blur(60px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-filter: blur(60px);
}

.login__bg--Dos {
    position: absolute;
    top: -10%;
    right: -10%;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.login__bg--Dos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bdcbf299;
    filter: blur(80px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-filter: blur(80px);
}

.login__bg--Tres {
    position: absolute;
    top: 0;
    left: 12%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.login__bg--Tres::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #efedab23;
    filter: blur(10px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-filter: blur(10px);
}

.NotFound__img {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.NotFound__img img {
    width: 100%;
    height: 90vh;
    margin-bottom: -40px;
}

.NotFound__img button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
}

.NotFound__img button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}