.Notificaciones {
    width: 380px;
    max-height: 90vh;
    background-color: #262b34;
    z-index: 1000;
    position: absolute;
    top: 70px;
    right: 10px;
    border-top: #6354b1 3px solid;
    box-shadow: rgba(221, 221, 221, 0.2) 0px 3px 5px;
    padding: 10px;
    overflow: hidden;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1002;
}

.Notificaciones a {
    text-decoration: none;
}

.Notificaciones::-webkit-scrollbar {
    width: 5px;
}

.Notificaciones::-webkit-scrollbar-thumb {
    background-color: #fbfbfb;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.Notificaciones::-webkit-scrollbar-track {
    background-color: #262b34;
}

.Notificaciones-Contenedor.active {
    display: block;
}

.Notificaciones .Notificaciones-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Notificaciones .Notificaciones-header h3{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.Notificaciones .Notificaciones-header .Icono-cerrar {
    font-size: 30px;
    color: aliceblue;
    cursor: pointer;
}

.Notificaciones-content-sinNotificaciones {
    color: #fbfbfbc7;
    margin-top: 10%;
    text-align: center;
}

.Notificaciones-content-sinNotificaciones h3 {
    font-size: 18px;
}

.Notificaciones-content-sinNotificaciones p {
    font-size: 15px;
}

.Notificaciones .Notificaciones-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    background-color: #424b5a60;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.Notificaciones .Notificaciones-content:hover{
    background-color: #6a778f44;
}


.Notificaciones .Notificaciones-content-icono {
    position: absolute;
    top: 50%;
    left: 10%;
}

.Notificaciones .Notificaciones-content-icono .icono-megusta  {
    background-color: rgb(214, 21, 111);
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}

.Notificaciones .Notificaciones-content-icono .icono-comentario{
    background-color: rgb(48, 148, 188);
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}

.Notificaciones .Notificaciones-content-icono .icono-seguidor {
    background-color: #8379c1da;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}

.Notificaciones .Notificaciones-content-icono .icono-medalla {
    background-color: #bdc179da;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}


.Notificaciones .Notificaciones-content-icono .icono-colonia {
    background-color: #a009d3da;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}

.Notificaciones .Notificaciones-content-icono .icono-colonia-mas {
    background-color: #09d353da;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}





.Notificaciones .Notificaciones-content img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.Notificaciones .Notificaciones-content p {
    color: aliceblue;
    font-size: 14px;
    text-align: left;
    padding-left: 15px;
}

.Notificaciones .Notificaciones-content p p{
    color: rgba(240, 248, 255, 0.345);
    font-size: 11px;
}

.Notificaciones .Notificaciones-content p span{
    font-weight: 800;
}

.Notificaciones .Notificaciones-content .Notificaciones-NoLeidas {
    width: 15px;
    height: 15px;
    background-color: #71ddf5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 5px;
}

.Notificaciones ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 20px 0;
}

.Notificaciones ul li {
    padding: 10px;
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0 2px;
    cursor: pointer;
    
}

.Notificaciones .UlLinea {
    border-bottom: 3px solid #8e0dfe;
}

.Notificaciones .Boton-Leidas {
    margin: 20px 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Notificaciones .Boton-Leidas  button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.Notificaciones .SinNotificaciones{
    text-align: center;
    color: #fbfbfb;
    font-size: 20px;
    margin: 10px 0;
}

.Notificaciones .SinNotificaciones .icono-SinNotificaciones {
    font-size: 130px;
}



@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {
    
    .Notificaciones {
        padding: 15px 15px 200px 20px;
        width: 100%;
        top: 65px;
        max-height: 100vh;

    }

    .Notificaciones-header {
        padding: 10px;
    }

    .div-Notificaciones {
        padding:0 10px;
    }
    
}


