.Notificaciones {
    width: 350px;
    height: 90vh;
    background-color: #262b34;
    z-index: 1000;
    position: absolute;
    top: 70px;
    right: 0;
}

.Notificaciones-Contenedor.active {
    display: block;
}

.Notificaciones h4{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}


