.Notificaciones {
    width: 380px;
    max-height: 90vh;
    background-color: #262b34;
    z-index: 1000;
    position: absolute;
    top: 70px;
    right: 10px;
    border-top: #6354b1 3px solid;
    box-shadow: rgba(221, 221, 221, 0.2) 0px 3px 5px;
    padding: 10px;
    overflow: hidden;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1002;
}

.Notificaciones a {
    text-decoration: none;
}

.Notificaciones::-webkit-scrollbar {
    width: 5px;
}

.Notificaciones::-webkit-scrollbar-thumb {
    background-color: #fbfbfb;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.Notificaciones::-webkit-scrollbar-track {
    background-color: #262b34;
}

.Notificaciones-Contenedor.active {
    display: block;
}

.Notificaciones .Notificaciones-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Notificaciones .Notificaciones-header h3{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.Notificaciones .Notificaciones-header .Icono-cerrar {
    font-size: 30px;
    color: aliceblue;
    cursor: pointer;
}

.Notificaciones-content-sinNotificaciones {
    color: #fbfbfbc7;
    margin-top: 10%;
    text-align: center;
}

.Notificaciones-content-sinNotificaciones h3 {
    font-size: 18px;
}

.Notificaciones-content-sinNotificaciones p {
    font-size: 15px;
}

.Notificaciones .Notificaciones-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    background-color: #424b5a60;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.Notificaciones .Notificaciones-content:hover{
    background-color: #6a778f44;
}


.Notificaciones .Notificaciones-content-icono {
    position: absolute;
    top: 60%;
    left: 20%;
}

.Notificaciones .Notificaciones-content-icono .icono-megusta  {
    background-color: rgb(214, 21, 111);
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}

.Notificaciones .Notificaciones-content-icono .icono-comentario{
    background-color: rgb(48, 148, 188);
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}

.Notificaciones .Notificaciones-content-icono .icono-seguidor {
    background-color: #8379c1da;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}

.Notificaciones .Notificaciones-content-icono .icono-medalla {
    background-color: #bdc179da;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}


.Notificaciones .Notificaciones-content-icono .icono-colonia {
    background-color: #a009d3da;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}

.Notificaciones .Notificaciones-content-icono .icono-colonia-mas {
    background-color: #09d353da;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: #fbfbfb;
}



.Notificaciones .Notificaciones-content-icono {
    position: absolute;
    top: 60%;
    left: 10%;
}


.Notificaciones .Notificaciones-content img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

.Notificaciones .Notificaciones-content p{
    width: 310px;
    color: aliceblue;
    font-size: 15px;
}

.Notificaciones .Notificaciones-content p span{
    font-weight: 800;
}

.Notificaciones .Notificaciones-content .Notificaciones-NoLeidas {
    width: 20px;
    height: 15px;
    background-color: #71ddf5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {
    
    .Notificaciones {
        padding: 10px;
        width: 100%;
        top: 65px;
        max-height: 100vh;
    }

    .Notificaciones-header {
        padding: 10px;
    }

    .div-Notificaciones {
        padding:0 10px;
    }
    
}


