.Card {
    margin-top: 2%;
}

.Card-Articulo {
    padding: 20px;
    border-width: 1px 1px 2px;
    overflow: hidden;
    margin-top: 3%;
    position: relative;
    border-radius: .75rem .75rem 0 0;
    -webkit-border-radius: .75rem .75rem 0 0;
    -moz-border-radius: .75rem .75rem 0 0;
    -ms-border-radius: .75rem .75rem 0 0;
    -o-border-radius: .75rem .75rem 0 0;

}

.Card-content {
    position: relative;
}

.borde-home {
    border: 1px solid #e1dfdf67;
    border-bottom: 0;
}

.borde-Uno {
    border: 1px solid #03a45c68;
    border-bottom: 0;
}

.borde-dos {
    border: 1px solid #8379c1da;
    ;
    border-bottom: 0;
}

.borde-tres {
    border: 1px solid #ceca7a7d;
    border-bottom: 0;
}

.borde-siete {
    border: 1px solid #f09d3f4c;
    border-bottom: 0;
}


.Card-Articulo_header {
    display: flex;
    justify-content: space-between;
}

.Card-Articulo_header-nombre {
    display: flex;
    margin-bottom: 5px;
}

.Card-Articulo_header-nombre .siguiendo {
    margin-left: 30px;
    padding: 5px 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    user-select: none;
}

.Card-Articulo_header .header_Perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_Perfil img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

.header_Perfil a {
    color: lavender;
    text-decoration: none;
}

.header_Perfil h3 {
    font-size: 18px;
}

.header_Perfil p {
    font-size: 13px;
    color: #ababab;
}

.header_calificacion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.header_calificacion span {
    cursor: pointer;
}

.header_calificacion .iconoMeGusta {
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.header_calificacion .iconoMeGusta.like {
    color: #f20e0e;
    font-size: 25px;
}


.Card-Articulo_content h1 {
    font-size: 25px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.Card-Articulo_content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    transition: -webkit-line-clamp 0.5s ease-in-out;
    white-space: pre-line;
}

.Card-Articulo_content .show-full {
    -webkit-line-clamp: unset;
}

.Card-Articulo_content p a {
    color: deepskyblue;
    text-decoration: none;
}

.Card-Articulo_content .hashtag {
    margin-right: 10px;
}

.Card-Articulo_content .hashtag a {
    display: inline-flex;
}


.Card-Articulo_content .vermas {
    margin-top: 10px;
    background-color: rgba(255, 222, 173, 0);
    border: none;
    color: rgb(58, 142, 210);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Card-ImagenesPublicacion {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 16px;
}

.Card-ImagenesPublicacion img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.ExtraImagesInfo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.ExtraImagesInfo p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

/* Las tres primeras imágenes */
.imagen-1 {
    grid-column: span 1;
    grid-row: span 3;
    height: 100% !important;
    object-fit: cover; 
}

.imagen-2 {
    grid-column: span 1;
    grid-row: span 2;
    height: 100% !important;
    object-fit: cover; 
    width: 100%;
}

.imagen-3 {
    grid-column: span 1;
    grid-row: span 1;
    width: 50%;
}

/* La cuarta imagen */
.imagen-4 {
    grid-column: span 1;
    grid-row: span 1;
    height: 100% !important;
    object-fit: cover; 
}

.imagen-5 {
    grid-column: span 2;
    grid-row: span 1;
    width: 100%;
    height: 100% !important;
    object-fit: cover; 
}

/* Resto de las imágenes */
.Card-ImagenesPublicacion img:not(.imagen-1):not(.imagen-2):not(.imagen-3):not(.imagen-4):not(.imagen-5) {
    grid-column: span 1;
    grid-row: span 1;
    width: 50%;
}


.Card-Articulo_content-youtbe {
    width: 100%;
    margin: 3% 0;
}

.InfoColonia a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.Card-Articulo_content-colonia {
    width: 90%;
    height: 300px;
    margin: 20px 5% 0 5%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.Card-Articulo_content-colonia img{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

.Card-Articulo_content-colonia div{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card-Articulo_content-colonia div p {
    font-size: 30px;
    font-weight: 700;
}



.Card-Articulo_footer .Card-Articulo_footer {
    display: flex;
    justify-content: space-between;
}


.Card-content_footer .Cardstile{
    width: 50%;
    margin-right: 5%;
    font-size: 15px;
    display: flex;
    align-items: center;
}


.Card-content_footer .footer_action {
    width: 50%;
    display: flex;
    justify-content: right;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.content-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bebebea4;
}

.Card-content_footer .footer_action .icono {
    font-size: 25px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 50%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    color: #bebebea4;
}

.Card-content_footer .footer_action .iconoMeGusta:hover{
    background-color: rgba(249, 24, 129, 0.364);
}

.Card-content_footer .footer_action .iconoMeGusta.like {
    color: rgb(249, 24, 128);
}

.Card-content_footer .footer_action  .footer_comentario-icono:hover, .Card-content_footer .footer_action .footer_action-icono:hover {
    background-color: rgba(160, 172, 172, 0.364);
}

.Card-content_footer .footer_action .footer_share-icono:hover {
    background-color: rgba(28, 156, 156, 0.364);
}



.Card-content_footer {
    width: 100%;
    height: 50px;
    background-color: #03a45c1f;
    border-radius: 0 0 .75rem .75rem;
    -webkit-border-radius: 0 0 .75rem .75rem;
    -moz-border-radius: 0 0 .75rem .75rem;
    -ms-border-radius: 0 0 .75rem .75rem;
    -o-border-radius: 0 0 .75rem .75rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.Card-content_footer img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;

}

.footer-borde-home img {
    background-color: #ffffff;
}

.footer-borde-Uno img {
    background-color: #03a45c;
}

.footer-borde-dos img {
    background-color: #8379c1da;
}

.footer-borde-tres img {
    background-color: #ceca7a;
}

.footer-borde-siete img {
    background-color: #f09d3f;
}

.Card-content_footer a {
    text-decoration: none;

}

.footer-borde-home {
    background-color: #fcfdfd1f;
    border: 1px solid #e1dfdf67;
}

.footer-borde-Uno {
    background-color: #03a45c1f;
    border: 1px solid #03a45c68;
}

.footer-borde-dos {
    background-color: #8379c11f;
    border: 1px solid #8379c1;
}

.footer-borde-tres {
    background-color: #ceca7a1f;
    border: 1px solid #ceca7a7d;
}

.footer-borde-siete {
    background-color: #f09d3f1f;
    border: 1px solid #f09d3f4c;
}

.footer-borde-home p{
    color: #ffffffdf;
}

.footer-borde-Uno p {
    color: #06e672cd;
}

.footer-borde-dos p {
    color: #8379c1da;
}

.footer-borde-tres p {
    color: #fffa97dc;
}

.footer-borde-siete{
    color: #f09d3f;
}

.imgen-barner {
    width: 100%;
    margin: 40px 0 20px 0;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.Cargado-Card {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {
    
    .Card {
        margin-bottom: 180px;
    }
    .Card-Articulo_header {
        display: block;
    }

    .header_Perfil {
        margin-left: -25%;
    }

    .header_calificacion {
        justify-content: left;
        margin: 20px 0;
    }

    .Card-content_footer .Cardstile{
        width: 50%;
        margin-right: 2%;
        font-size: 10px;
        display: flex;
        align-items: center;
    }

    .Card-Articulo_content-colonia {
        height: 200px;
    }
    
    .Card-Articulo_content-colonia img{
        height: 200px;
    }
    
    .Card-Articulo_content-colonia div{
        height: 70px;
    }
    
    .Card-Articulo_content-colonia div p {
        font-size: 20px;
    }

}