.Colonias-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Colonias-header-navegation img {
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.Colonias-header a {
    color: #fff;
}

.Colonias-header-icono {
    font-size: 30px;
    cursor: pointer;
}

.Colonias-menu {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    max-width: 100%;
}

.Colonias-menu-content {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.Colonias-menu-content a {
    text-decoration: none;
}

.Colonias-menu-content img{
    width: 100%;
    height: 60px;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

.Colonias-menu-content-info {
    width: 100%;
    height: 60px;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    margin-top: -10px;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Publicaciones-colonias h3{
    margin: 20px 0;
}

