.Header {
    width: 100%;
    display: flex;
    padding: 10px 60px 10px 80px;
    align-items: center;
    position: relative;
}

.Header-logo {
    display: none;
    text-align: center;
}

.Header-logo img{
    width: 120px;
}

.Header-menu {
    width: 100%;
    display: flex;
    justify-content: right;
}

.Header-menu .Header-menu-contect {
    background-color: rgba(240, 248, 255, 0.421);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Header-menu .Header-menu-contect a {
    color: #13161c;
}

.Header-menu .hamburg {
    display: none;
}

.Header-menu .hamburg a {
    color: #13161c;
}

.Header-menu .Header-menu-icono {
    font-size: 20px;
}

.Header-menu-contect-notificacion {
    position: relative;
}

.Header-menu-contect-notificacion span {
    width: 15px;
    height: 15px;
    background-color: #71ddf5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 0;
    left: 70%;
}

.Header-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {

    .Header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border-bottom: 1px solid #4a4949;
    }
    
   

    .Header-menu .hamburg {
        display: flex;
    }

    .Header-menu {
        width: 100%; 
    }

    .Header-logo {
        display: block;
    }

    .Header-menu {
        display: none;
    }

}