.sidebar-content {
    width: 100%;
    height: auto;
    background-color: #424b5a60;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    overflow: hidden;
}

.sidebar-content h3 {
    color: #d1d1d1c8;
}

.siderbar-ecomerce {
    height: auto;
}

.siderbar-donacion {
    height: 160px;
    padding: 10px;
    position: relative;
    display: none;
}

.siderbar-donacion h4 {
    color: #fff;
    font-size: 22px;
}

.siderbar-donacion p {
    color: #ffffffaf;
    font-weight: 600;
}

.siderbar-donacion button {
    padding: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.sidebar-content a {
    color: #fff;
    text-decoration: none;
}

.sidebar-content .AboutColonia__header {
    color: #fff;
}

.sidebar-content .AboutColonia__header_info .Icono-About {
    font-size: 40px;
}

.sidebar-content .sidebar-content-imagenes, .sidebar-content .SidebarPublicacion-imagenes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sidebar-content .sidebar-content-imagenes h3 {
    margin-bottom: 10px;
}

.sidebar-content-imagenes img , .sidebar-content .SidebarPublicacion-imagenes  img{
    width: 50%;
    height: 100px;
    box-sizing: border-box;
    padding: 4px;
    cursor: pointer;
}



.sidebar-content button {
    background-color: #fff;
    padding: 5px 40px;
    width: 100%;
    margin: 10px;
}

.sidebar-content button .Link-About {
    color: black;
    text-decoration: none;
    text-align: center;
}

.SidebarPublicacion-conte {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #a6a6a64e;
}

.SidebarPublicacion-conte h4 {
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
}


.SidebarPublicacion-text div .iconoMeGusta {
    color: #c1c0c09e;
}

.SidebarPublicacion-conte h1 {
    font-size: 14px;
    color: #fff;
}

.SidebarPublicacion-conte p {
    font-size: 10px;
    color: #dad9d9;
}

.sidebar-content .SidebarPublicacion-imagenes {
    display: flex;
    margin-top: 10px;
}


.sidebar-content .SidebarPublicacion-imagenes .ExtraImagesInfo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 50%;
    height: 100px;
}
.sidebar-content .SidebarPublicacion-imagenes .ExtraImagesInfo img {
    width: 100%;
    height: 100px;
}


.sidebar-content .SidebarPublicacion-imagenes .ExtraImagesInfo p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.SidebarPublicacion-perfil {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.SidebarPublicacion-perfil img {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-right: 5px;
}

.SidebarPublicacion-perfil p {
    margin-right: 10px;
}

.SidebarPerfil-Colonias {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #a6a6a64e;
    padding: 5px 0;
}

.SidebarPerfil-Colonias img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.SidebarPerfil-Colonias div {
    margin-left: 10px;
}

.SidebarPerfil-Colonias h1 {
    font-size: 16px;
    color: #fff;
}

.SidebarPerfil-Colonias p {
    font-size: 12px;
    color: #dad9d9;
}