.ImageModal {
    width: 100%;
    height: 100vh;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    user-select: none;
    z-index: 10001;
    overflow: hidden;
}


.ImageModal-content {
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;

}

.ImageModal-content_cerrar {
    position: absolute;
    top: 1%;
    right: 0%;
}

.ImageModal-content_cerrar .Icono-cerrar {
    font-size: 30px;
    cursor: pointer;
}



.ImageModal-content-body {
    width: 100%;
    display: flex;
}


.ImageModal-content-body-imagen {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.ImageModal-content-body-imagen-img img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.ImageModal-content-body-icono {
    background-color: rgba(0, 0, 0, 0.304);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 10px;
}

.ImageModal-content-body-icono-derecha {
    top: 0;
    right: 0;
    cursor: pointer;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.ImageModal-content-body-icono-izquierda {
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.ImageModal-content-body-icono-derecha:hover {
    right: -1%;
}

.ImageModal-content-body-icono-izquierda:hover {
    left: -1%;
}


.Icono-flecha {
    font-size: 50px;
    cursor: pointer;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



/*   Perfil, Publicación, comentarios   */

.ImageModal-content-body-publication {
    width: 25%;
    background-color: #262b34;
    padding: 20px;
    padding-top: 50px;
}


.ImageModal-content-body-publication .header_Perfil {
    display: flex;
    align-items: center;
}

.ImageModal-content-body-publication .header_Perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

.ImageModal-content-body-publication .header_Perfil .Level p {
    color: aliceblue;
}

.ImageModal-content-body-publication .header_Perfil .Level img {
    width: 25px;
    height: 25px;
}

.ImageModal-content-body-publication .header_Perfil a {
    color: lavender;
    text-decoration: none;
}

.ImageModal-content-body-publication .header_Perfil h3 {
    font-size: 18px;
}

.ImageModal-content-body-publication .header_Perfil p {
    font-size: 13px;
    color: #ababab;
}

.ImageModal-content-body-publication .publicacion {
    margin-top: 5%;
}

.ImageModal-content-body-publication .publicacion h2 {
    font-size: 18px;
}

.ImageModal-content-body-publication .publicacion p {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-top: 3%;
}

.ImageModal-content-body-publication .acciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    border-top: 1px solid #6c7a9449;
    border-bottom: 1px solid #6c7a9449;
    padding: 10px 0;
}

.ImageModal-content-body-publication .acciones div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ImageModal-content-body-publication .acciones div .acciones-icono {
    font-size: 25px;
}

.ImageModal-content-body-publication .acciones div p {
    margin-left: 10px;
}

.ImageModal-content-body-publication .acciones div a {
    text-decoration: none;
    color: #fffefe;
    display: flex;
    align-items: center;
}

.ImageModal-content-body-publication .acciones div a .acciones-icono {
    margin-right: 10px;
}

.ImageModal-content-body-publication .acciones div .iconoMeGusta {
    font-size: 25px;
}

.ImageModal-content-body-publication .acciones div .like {
    color: rgb(249, 24, 128);
}

.ImageModal-content-body-publication .comentarios {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ImageModal-content-body-publication .comentarios::-webkit-scrollbar {
    width: 5px;
}

.ImageModal-content-body-publication .comentarios::-webkit-scrollbar-thumb {
    background-color: #262b3400;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.ImageModal-content-body-publication .comentarios::-webkit-scrollbar-track {
    background-color: #262b3400;
}


.ImageModal-content-body-publication .comentarios_Perfil {
    display: flex;
    margin-bottom: 5%;
}

.ImageModal-content-body-publication .comentarios {
    margin-top: 5%;
}

.ImageModal-content-body-publication .comentarios_Perfil a {
    text-decoration: none;
    color: #fffefe;
    font-size: 18px;
}

.ImageModal-content-body-publication .comentarios_Perfil div {
    color: #cacaca;
    background-color: #6c7a9449;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
}

.ImageModal-content-body-publication .comentarios_Perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {

    .ImageModal {
        width: 100%;
        height: auto;
    }

    .ImageModal-content_cerrar {
        width: 30px;
        position: absolute;
        top: 1%;
        right: 10px;
        z-index: 10001;
    }

    .ImageModal-content-body {
        display: block;
    }


    .ImageModal-content-body-imagen {
        width: 100%;
        height: 350px;
    }

    .ImageModal-content-body-icono {
        background-color: rgba(0, 0, 0, 0.304);
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 0 10px;
    }

    .Icono-flecha {
        font-size: 20px;
    }

    .ImageModal-content-body-imagen-img img {
        width: 100%;
        object-fit: contain;
    }

    .ImageModal-content-body-publication {
        width: 100%;
        background-color: #262b34;
        padding: 10px;
        height: 50vh;
        overflow: auto;
        overflow-y: initial;
        overflow-x: hidden;
    }

    .ImageModal-content-body-publication .comentarios {
        height: 50vh;
        overflow: auto;
        overflow-y: none;
        overflow-x: none;
        margin-bottom: 10%;
    }

    .ImageModal-content-body-publication .header_Perfil {
        margin-left: 0%;
    }
    

}