

.DescubreColonias-buscador {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DescubreColonias-buscador a {
    text-decoration: none;
    color: aliceblue;
}

.volver-icono {
    font-size: 30px;
    margin-right: 40px;
    cursor: pointer;
}


.DescubreColonias-buscador-icono {
    position: absolute;
    top: 10px;
    left: 80px;
    color: aliceblue;
    font-size: 20px;
}

.DescubreColonias input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 10px 10px 10px 40px;
    border: 1px solid rgba(240, 248, 255, 0.437);
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    outline: none;
}

.DescubreColonias h2 {
    margin-top: 2%;
}

.DescubreColonias-contenedor a {
    color: aliceblue;
    text-decoration: none;
}

.DescubreColonias-contenedor-item {
    display: flex;
    width: 100%;
    margin-top: 3%;
    cursor: pointer;
    padding: 5px;
}

.DescubreColonias-contenedor-item:hover{
    background-color: #4b556653;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.DescubreColonias-contenedor-item-img  img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.DescubreColonias-contenedor-item-info h3 {
    font-size: 18px;
}

.DescubreColonias-contenedor-item-info p {
    font-size: 13px;
}

.DescubreColonias-contenedor-item-info span {
    font-weight: 800;
}