.Buscardor {
    width: 100%;
    height: auto;
}

.Header-buscador {
    margin-bottom: 10%;
    width: 100%;
    position: relative;
}

.Header-buscador input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 10px 10px 40px;
    border: 1px solid rgba(240, 248, 255, 0.437);
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    outline: none;
}

.Buscardor-navegar {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    text-decoration: none;
}

.Buscardor-navegar a {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #5903a4a9;
    display: flex;
}

.Buscardor-navegar p {
    color: aliceblue;
}

.Header-buscador-icono {
    position: absolute;
    top: 10px;
    left: 10px;
    color: aliceblue;
    font-size: 18px;
}

.cerrarBuscador {
    display: flex;
    justify-content: right;
    background-color: #262b34;
    padding: 10px;
}

.cerrarBuscador-icono {
    color: ivory;
    font-size: 25px;
}

.Buscardor-content {
    width: 100%;
    margin-bottom: 5%;
}

.Buscardor-content::-webkit-scrollbar {
    width: 5px;
}

.Buscardor-content::-webkit-scrollbar-thumb {
    background-color: #262b3400;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.Buscardor-content::-webkit-scrollbar-track {
    background-color: #262b3400;
}

.Buscardor-content a {
    text-decoration: none;
}

.Buscardor-content h2 {
    color: aliceblue;
}

.Contenedor-Hashtag {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.Contenedor-Hashtag-icono {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(80, 80, 80);
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: aliceblue;
}

.Contenedor-Hashtag-info {
    color: azure;
}

.Contenedor-Usuario-icono img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
}

.Contenedor-Usuario {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.Contenedor-buscador-Usuario-info {
    color: aliceblue;

}

.Contenedor-buscador-Usuario-info h4 {
    font-size: 17px;
}

.Contenedor-buscador-Usuario-info p {
    font-size: 15px;
}

.Contenedor-buscador-publicacion {
    width: 100%;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.Contenedor-buscador-publi .Card-content_footer {
    margin-bottom: 10px;
}

.Contenedor-buscador-publicacion-user {
    display: flex;
}

.Contenedor-buscador-publicacion-user img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.Contenedor-buscador-publicacion-info {
    margin-top: 10px;
}

.Contenedor-buscador-publicacion-info h3 {
    margin-bottom: 10px;
}

.Buscardor-content-null  {
    text-align: center;
    font-size: 20px;
}

.Buscardor-content-null img {
    width: 90%;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {}

/* ========= MEDIA QUERIES (SMALL DEVICES) =======*/

@media screen and (max-width: 600px) {
    

    .Buscardor {
       margin-bottom: 80%;
    }


}