.PreviewPerfil {
    width: 300px;
    height: auto;
    position: absolute;
    top: 60px;
    left: -80px;
    background-color: #262b34;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 10px 15px -3px rgba(79, 79, 79, 0.148), 0px 10px 15px -3px rgba(79, 79, 79, 0.148);
    z-index: 1000;
}

.PreviewPerfil-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PreviewPerfil-content button{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.PreviewPerfil-content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.PreviewPerfil-content-nombre {
    margin: 10px 0;
    display: flex;
}

.PreviewPerfil-content-nombre a {
   text-decoration: none;
   color: #e5e5e5;
}


.PreviewPerfil-content-nombre p {
    color: #878787;
}

.PreviewPerfil-content-nombre .Level .Level-content p{
    color: rgb(255, 255, 255);
    font-size: 13px;
}



.PreviewPerfil-content-frase p {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: -webkit-line-clamp 0.5s ease-in-out;
    white-space: pre-line;
}

.PreviewPerfil-content-segudores {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.PreviewPerfil-content-segudores p{
    margin-right: 20px;
    color: #878787;
}

.PreviewPerfil-content-segudores span{
    font-weight: 600;
    color: #fffefe;
}

.PreviewPerfil .BotonFollowers-mensaje {
    display: none;
}