.Swiper {
    width: 100%;
    margin: 5% 0;
}

.Swiper img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}


.swiper-pagination-bullet {
    background-color: #e3e3e3 !important;
    width: 15px !important;
    height: 15px !important;
}

.swiper-button-prev,
.swiper-button-next {
    color: #ffffff !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 15px;
    font-weight: 900;
    background-color: #68609899;
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px -1px 11px 7px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 1px -1px 11px 7px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 1px -1px 11px 7px rgba(0, 0, 0, 0.47);
}