.Swiper  {
    width: 100%;
    margin: 5% 0;
}

.Swiper img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.swiper-pagination-bullet {
    background-color: #e3e3e3 !important;
    width: 15px !important;
    height: 15px !important;
}

.swiper-button-prev, .swiper-button-next {
    color: #772cef !important;
}